[submodule "arduino-cmake"]
	path = arduino-cmake
	url = git@github.com:queezythegreat/arduino-cmake.git
[submodule "libraries/PCD8544"]
	path = libraries/PCD8544
	url = git@github.com:carlosefr/pcd8544
